*{
    margin: 0px;
    padding: 0px;

}
body{

    background-color: rgb(172, 191, 202);
}

#container{
    width: 80%;
    margin: 0px auto;
    border: 1px solid black; 
    background: white;
}
#header{
    height: 145px;
    background-color: rgb(108, 136, 187);
    color: white;
     text-align: center;
     line-height: 100px;
} 
#logo{
    float: left;
    margin-left: 20px;
    padding: 20px;
}
#logo img{
    height: 100px;
    float: left;
}
#menu{
    clear: both;
    background-color: #2222;
    color: white;
    height: 55px;
    border-bottom: 4px solid #01b1ea; 
}

#menu ul{
    list-style: none;
   text-decoration: none;
    margin: 0px auto;
    margin-left: 10px;
}
#menu ul li{
    line-height: 55px;
    float: left;
    border-right: 1px solid white;

}

#menu a{
    display: block;
    color: white;
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
}   

#menu a:hover{
    background: #01b1ea;
}    


#content{
    margin: 0px auto;  
    overflow: hidden;
    background: white;
}

/* barra lateral */
#lateral{
    width: 17%;
    min-height: 650px;
    border: 1px solid red;
    float: left;
    margin-top: 20px;
    margin-left: 10px;


}
#lateral .block_aside{
    display: block;
    width: 90%;
    margin: 5px;
    padding: 10px;
    border: 1px solid red;
}
#lateral h3{
    display: block;
    color: #222;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    background: #e1e1e1;
    border-bottom: 2px solid #01b1ea;
    
}
#central{
    width: 79%;
    min-height: 650px;
    float: right;
    border: 1px solid blue;
   
}